In [5]:
import pandas as pd
from tqdm import tqdm
import operator

In [6]:
city_df = pd.read_csv('../数据/city.csv',encoding='GBK')

In [7]:
df = pd.read_csv('../数据/car_info_finals.csv')

目标: 将表中每行记录添加省份标签
<br>
省份id: 1--35

In [8]:
df.head()

,car_brand,style_year,other_info,buy_year,total_km,location,total_price,original_price,brand_tag,engine_displacement
0,马自达 阿特兹,2018款,2.5L 蓝天尊崇版,2018,1.0,西安,19.47,23.5,马自达,2.5
1,长安商用 欧力威,2013款,1.2L 手动舒适型,2013,12.3,西宁,1.95,4.7,长安,1.2
2,保时捷Cayenne,2016款,Cayenne 3.0T,2015,3.8,哈尔滨,75.00,96.4,保时捷,3.0
3,别克 凯越,2011款,1.6LE-MT,2010,11.5,成都,2.68,11.7,别克,1.6
4,大众 夏朗,2016款,380TSI 舒享型 7座(进口),2017,5.6,广州,19.00,32.1,大众,380.0

In [9]:
city_df.head()

     name  parent_id  region_id
0      北京          0          1
1      天津          0          2
2     河北省          0          3
3     山西省          0          4
4  内蒙古自治区          0          5

In [10]:
# 将parent_id在1--35的提取出来
city_df = city_df.loc[(city_df['parent_id'] <= 35) & (city_df['parent_id'] >= 1)]

In [11]:
city_df

     name  parent_id  region_id
35    北京市          1         36
36    天津市          2         37
37   石家庄市          3         38
38    唐山市          3         39
39   秦皇岛市          3         40
..    ...        ...        ...
396    九龙         33        397
397    新界         33        398
398  澳门半岛         34        399
399    离岛         34        400
400    海外         35        401

[366 rows x 3 columns]

In [12]:
# 添加标签 

# 1. 提取df中的各城市location列表
city_list = list(df['location'])

# 2. 建立 市<-->省份id 字典
standard_citys = dict(zip(city_df['name'], city_df['parent_id']))

# 3. 进行匹配 生成一个id列
id_list = []

for city in tqdm(city_list):        # tqdm用于显示进度条
    for key, value in standard_citys.items():
        # key代表city表中的城市名 value代表其对应的parent_id
        if operator.contains(key, city):
            # 将值添加进id_list之中
            id_list.append(value)

            # 匹配到之后跳出当前循环
            break

# 4. 将id_list列添加进 province_id 列中
df['province_id'] = pd.Series(id_list)

100%|██████████| 411257/411257 [00:07<00:00, 57065.55it/s]

In [13]:
df.head()

,car_brand,style_year,other_info,buy_year,total_km,location,total_price,original_price,brand_tag,engine_displacement,province_id
0,马自达 阿特兹,2018款,2.5L 蓝天尊崇版,2018,1.0,西安,19.47,23.5,马自达,2.5,27
1,长安商用 欧力威,2013款,1.2L 手动舒适型,2013,12.3,西宁,1.95,4.7,长安,1.2,29
2,保时捷Cayenne,2016款,Cayenne 3.0T,2015,3.8,哈尔滨,75.00,96.4,保时捷,3.0,8
3,别克 凯越,2011款,1.6LE-MT,2010,11.5,成都,2.68,11.7,别克,1.6,23
4,大众 夏朗,2016款,380TSI 舒享型 7座(进口),2017,5.6,广州,19.00,32.1,大众,380.0,19

In [14]:
# 将处理完的表导出
df.to_csv('../数据/car_info_finals_ptag.csv', index=False)